<ul class="dashboard-menu">
    <li>
        <a href="~/Dashboard" class="@ViewData["Dashboard"]"><i class="flaticon-dashboard"></i>Dashboard</a>
    </li>
    <li>
        <a href="~/Dashboard/Profile" class="@ViewData["Profile"]"><i class="flaticon-settings"></i>Personal Profile </a>
    </li>
    <li>
        <a href="~/Dashboard/MyBids" class="@ViewData["MyBids"]"><i class="flaticon-auction"></i>My Bids</a>
    </li>
    <li>
        <a href="~/Dashboard/WinningBids" class="@ViewData["WinningBids"]"><i class="flaticon-best-seller"></i>Winning Bids</a>
    </li>
    <li>
        <a href="~/Dashboard/MyFavorites" class="@ViewData["MyFavorites"]"><i class="flaticon-star"></i>My Favorites</a>
    </li>
</ul>