@using OnlineGallery.Data

@inject ApplicationDbContext context

@model Auction

@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <ul class="font-weight-bolder" style="list-style: none;">
            <li><span class="text-danger">@Html.ValidationMessage("Existed")</span></li>
            <li><span asp-validation-for="ProductId" class="text-danger"></span></li>
            <li><span class="text-danger">@Html.ValidationMessage("Image")</span></li>
            <li><span class="text-danger">@Html.ValidationMessage("DateError")</span></li>
            <li><span asp-validation-for="StartDay" class="text-danger"></span></li>
            <li><span asp-validation-for="ClosingDay" class="text-danger"></span></li>
            <li><span asp-validation-for="StartingPrice" class="text-danger"></span></li>
            <li><span asp-validation-for="StepPrice" class="text-danger"></span></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateOrUpdate" asp-route-id="@Model.Id" onsubmit="return jQueryAjaxPost(this);" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" value="@Model.Id" />
            <input type="hidden" asp-for="Status" value="false" />
            <div class="row">
                <div class="col-8">
                    <div class="form-group">
                        <label asp-for="ProductId" class="control-label"></label>
                        @if (Model.ProductId != null)
                        {
                            var product = context.Products.Find(Model.ProductId);
                            <input type="text" class="form-control" value="@product.Name" disabled />
                            <input type="hidden" asp-for="ProductId" />
                        }
                        else
                        {
                            <select class="form-select form-control" aria-label="Select Product" asp-for="ProductId">
                                <option value="">Select product</option>
                                @foreach (var item in Tools.GetProductNotAuctioned(context))
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        }
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label asp-for="StartingPrice" class="control-label"></label>
                        <input asp-for="StartingPrice" class="form-control" />
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label asp-for="StepPrice" class="control-label"></label>
                        <input asp-for="StepPrice" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="StartDay" class="control-label"></label>
                        @if (Model.StartDay.HasValue)
                        {
                            <input asp-for="StartDay" type="date" class="form-control" value="@Model.StartDay.Value.ToString("yyyy-MM-dd")" />
                        }
                        else
                        {
                            <input asp-for="StartDay" type="date" class="form-control" value="@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")" />
                        }
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="ClosingDay" class="control-label"></label>
                        @if (Model.ClosingDay.HasValue)
                        {
                            <input asp-for="ClosingDay" type="date" class="form-control" value="@Model.ClosingDay.Value.ToString("yyyy-MM-dd")" />
                        }
                        else
                        {
                            <input asp-for="ClosingDay" type="date" class="form-control" value="@DateTime.Now.AddDays(2).ToString("yyyy-MM-dd")" />
                        }
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary btn-block" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}