@using Microsoft.AspNetCore.Identity;
@using OnlineGallery.Areas.Identity.Data;
@using OnlineGallery.Data;

@inject ApplicationDbContext context
@inject UserManager<ApplicationUser> userManager

@{
    ViewData["Title"] = "Dashboard";
    ViewData["Dashboard"] = "active";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

    var userId = userManager.GetUserId(User);

    // Count favorite products
    int favorites = context.MyFavorites.Where(e => e.UserId.Equals(userId)).Count();

    var records = context.AuctionRecords.Where(e => e.UserId.Equals(userId)).ToList();
    // Count the auction participated
    int actives = records.Select(e => e.AuctionId).Distinct().Count();

    // Count winning bid
    int winningBids = context.Transactions.Where(e => e.UserId.Equals(userId) && e.Auctioned).Count();

    // Cart
    var cart = context.Carts.Where(e => e.UserId.Equals(userId)).Select(e => e.Product).ToList();

    var transactionIds = context.Transactions.Where(e => e.UserId.Equals(userId)).Select(e => e.Id).ToList();
    // Pending Transaction
    var pending = context.TransactionDetails.Where(e => transactionIds.Contains(e.TransactionId) && !e.Transaction.Status).ToList();

    // Completed Transaction
    var completed = context.TransactionDetails.Where(e => transactionIds.Contains(e.TransactionId) && e.Transaction.Status).ToList();
}

<div class="dashboard-widget mb-40">
    <div class="dashboard-title mb-30">
        <h5 class="title">My Activity</h5>
    </div>
    <div class="row justify-content-center mb-30-none">
        <div class="col-md-4 col-sm-6">
            <div class="dashboard-item">
                <div class="thumb">
                    <img src="~/assets/images/dashboard/01.png" alt="dashboard">
                </div>
                <div class="content">
                    <h2 class="title"><span class="counter">@actives</span></h2>
                    <h6 class="info">Active Bids</h6>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="dashboard-item">
                <div class="thumb">
                    <img src="~/assets/images/dashboard/02.png" alt="dashboard">
                </div>
                <div class="content">
                    <h2 class="title"><span class="counter">@winningBids</span></h2>
                    <h6 class="info">Items Won</h6>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="dashboard-item">
                <div class="thumb">
                    <img src="~/assets/images/dashboard/03.png" alt="dashboard">
                </div>
                <div class="content">
                    <h2 class="title"><span class="counter">@favorites</span></h2>
                    <h6 class="info">Favorites</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dashboard-widget">
    <h5 class="title mb-10">Current Record</h5>
    <div class="dashboard-purchasing-tabs">
        <ul class="nav-tabs nav">
            <li>
                <a href="#cart" class="active" data-toggle="tab">Cart</a>
            </li>
            <li>
                <a href="#pending-transaction" data-toggle="tab">Pending Transaction</a>
            </li>
            <li>
                <a href="#completed-transaction" data-toggle="tab">Completed Transaction</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane show active fade" id="cart">
                <table class="purchasing-table table-bordered">
                    <thead>
                        <tr>
                            <th class="align-middle text-center">Id</th>
                            <th class="align-middle text-center">Name</th>
                            <th class="align-middle text-center">Price</th>
                            <th class="align-middle text-center">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (cart.Count() > 0)
                        {
                            foreach (var item in cart)
                            {
                                <tr>
                                    <td class="align-middle text-center">@item.Id</td>
                                    <td class="pl-1" style="width: 300px;">@item.Name</td>
                                    <td class="align-middle text-center">@item.DefaultPrice.Value.ToString("C")</td>
                                    @if (item.Status)
                                    {
                                        <td class="align-middle text-center text-success font-weight-bolder"><span>On sale</span></td>
                                    }
                                    else
                                    {
                                        <td class="align-middle text-center text-danger font-weight-bolder">Sold</td>
                                    }
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4" class="align-middle text-center">No data available in table</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="tab-pane show fade" id="pending-transaction">
                <table class="purchasing-table table-bordered">
                    <thead>
                        <tr>
                            <th class="align-middle text-center">Id</th>
                            <th class="align-middle text-center">Product</th>
                            <th class="align-middle text-center">Price</th>
                            <th class="align-middle text-center">Created</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (pending.Count() > 0)
                        {
                            foreach (var item in pending)
                            {
                                <tr>
                                    <td class="align-middle text-center">@item.TransactionId</td>
                                    <td class="pl-1" style="width: 300px;">@item.Product.Name</td>
                                    <td class="align-middle text-center">@item.Price.ToString("C")</td>
                                    <td class="align-middle text-center">@item.Transaction.CreateDate.Value.ToString("dd/MM/yyyy HH:mm:ss")</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4" class="align-middle text-center">No data available in table</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="tab-pane show fade" id="completed-transaction">
                <table class="purchasing-table table-bordered">
                    <thead>
                        <tr>
                            <th class="align-middle text-center">Id</th>
                            <th class="align-middle text-center">Product</th>
                            <th class="align-middle text-center">Price</th>
                            <th class="align-middle text-center">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (completed.Count() > 0)
                        {
                            foreach (var item in completed)
                            {
                                <tr>
                                    <td class="align-middle text-center">@item.TransactionId</td>
                                    <td class="pl-1" style="width: 300px;">@item.Product.Name</td>
                                    <td class="align-middle text-center">@item.Price.ToString("C")</td>
                                    <td class="align-middle text-center">@item.Transaction.CompletionDate.Value.ToString("dd/MM/yyyy HH:mm:ss")</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4" class="align-middle text-center">No data available in table</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
