@using OnlineGallery.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> userManager

@{
    ViewData["Title"] = "Profile";
    ViewData["Profile"] = "active";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

    var user = await userManager.GetUserAsync(Context.User);
}

<div class="row">
    <div class="col-12">
        <div class="dash-pro-item mb-30 dashboard-widget">
            <div class="header">
                <h4 class="title">Personal Details</h4>
                <a onclick="showInPopup('@Url.Action("EditProfile", "Dashboard", new { user.Id }, Context.Request.Scheme)', 'Edit Profile')"><span class="edit"><i class="flaticon-edit"></i> Edit</span></a>
            </div>
            @if (!user.EmailConfirmed)
            {
                <label class="text-danger">Please check email to confirm your account</label>
            }
            @if (!user.PhoneNumberConfirmed && user.PhoneNumber != null)
            {
                <label class="text-danger">Your phone number has not been confirmed</label>
            }
            <ul class="dash-pro-body">
                <li>
                    <div class="info-name">Name</div>
                    <div class="info-value">@user.FullName</div>
                </li>
                <li>
                    <div class="info-name">Email</div>
                    <div class="info-value">
                        @if (user.EmailConfirmed)
                        {
                            <span>@user.Email&nbsp;<i class="text-success fas fa-check-circle"></i></span>
                        }
                        else
                        {
                            <span>@user.Email&nbsp; (Not confirm yet)</span>
                        }
                    </div>
                </li>
                <li>
                    <div class="info-name">Mobile</div>
                    @if (user.PhoneNumber != null)
                    {
                        if (user.PhoneNumberConfirmed)
                        {
                            <div class="info-value">
                                <span>@user.PhoneNumber&nbsp;<i class="text-success fas fa-check-circle"></i></span>
                            </div>
                        }
                        else
                        {
                            <div class="info-value">
                                <span>@user.PhoneNumber&nbsp; (Not confirm yet)</span>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="info-value">None</div>
                    }
                </li>
                <li>
                    <div class="info-name">Address</div>
                    @if (user.Address != null)
                    {
                        <div class="info-value">@user.Address</div>
                    }
                    else
                    {
                        <div class="info-value">None</div>
                    }
                </li>
            </ul>
        </div>
    </div>
</div>
