@using Microsoft.AspNetCore.Identity
@using OnlineGallery.Areas.Identity.Data;
@using OnlineGallery.Data;

@model IEnumerable<Auction>

@inject UserManager<ApplicationUser> userManager
@inject ApplicationDbContext context

@{
    ViewData["Title"] = "Winning Bids";
    ViewData["WinningBids"] = "active";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

    var user = await userManager.GetUserAsync(User);
}

<div class="dash-bid-item dashboard-widget mb-40-60">
    <div class="header">
        <h4 class="title">Winning Bids</h4>
    </div>
    @if (Model.Count() == 0)
    {
        <p>You haven't won any auction yet. Keep trying !!!</p>
    }
</div>
<div class="row mb-30-none justify-content-center">
    @foreach (var item in Model)
    {
        var lastBidPrice = item.AuctionRecords.Select(e => e.BidPrice.Value).Last();
        var product = context.Products.Find(item.ProductId);
        var transactionId = context.TransactionDetails.Where(e => e.Product.Equals(product)).Select(e => e.TransactionId).FirstOrDefault();
        <div class="col-sm-10 col-md-6">
            <div class="auction-item-2">
                <div class="auction-thumb">
                    <a href="~/Home/AuctionDetail/@item.Id"><img src="~/images/@product.Image" alt="car"></a>
                    <a href="~/Home/AddOrRemoveFavorites/@product.Id" id="like-feature-@(product.Id)" onclick="return jQueryAjaxFavorites('@Url.Action("AddOrRemoveFavorites", "Home", new { product.Id }, Context.Request.Scheme)');" class="rating">
                        @if (user != null && Tools.IsMyFavorites(context, user.Id, product.Id))
                        {
                            <i class="fas fa-star"></i>
                        }
                        else
                        {
                            <i class="far fa-star"></i>
                        }
                    </a>
                </div>
                <div class="auction-content">
                    <h6 class="title">
                        <a href="~/Home/AuctionDetail/@item.Id" class="font-weight-bolder">@product.Name</a>
                        <span>Time: @item.StartDay.Value.ToString("dd/MM/yyyy") - @item.ClosingDay.Value.ToString("dd/MM/yyyy")</span>
                        <span>Last Price: @lastBidPrice.ToString("C")</span>
                    </h6>
                    <div class="text-center">
                        <form action="~/Home/Checkout/@transactionId" method="post">
                            <button type="submit" class="btn btn-outline-success">Checkout <i class="fas fa-hand-holding-usd"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
