@using Microsoft.EntityFrameworkCore;
@using OnlineGallery.Areas.Identity.Data;
@using Microsoft.AspNetCore.Identity;
@using OnlineGallery.Data

@inject ApplicationDbContext context
@inject UserManager<ApplicationUser> userManager

@model OnlineGallery.Models.Auction

@{
    ViewData["Title"] = "Auction Detail";

    var imageList = Tools.GetProductImages(context, Model.Product.Id);

    var user = await userManager.GetUserAsync(User);

    var lastBidPrice = context.AuctionRecords.Any(e => e.AuctionId.Equals(Model.Id)) ? Model.AuctionRecords.Select(e => e.BidPrice).Last() : Model.StartingPrice;
    
    var totalBidders = await context.AuctionRecords.Select(e => e.UserId).Distinct().CountAsync();
    var totalWatchings = await context.MyFavorites.Where(e => e.ProductId == Model.ProductId).CountAsync();
    var totalBids = await context.AuctionRecords.Where(e => e.AuctionId == Model.Id).CountAsync();
}

<!--============= Hero Section Starts Here =============-->
<div class="hero-section style-2">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a href="~/Home">Home</a>
            </li>
            <li>
                <a href="~/Home/Auction">Auction</a>
            </li>
            <li>
                <span>Detail</span>
            </li>
        </ul>
    </div>
    <div class="bg_img hero-bg bottom_center" data-background="@Url.Content("~/assets/images/banner/hero-bg.png")"></div>
</div>
<!--============= Hero Section Ends Here =============-->
<!--============= Auction Details Section Starts Here =============-->
<section class="product-details padding-bottom mt--240 mt-lg--440">
    <div class="container">
        <div class="product-details-slider-top-wrapper">
            <div class="product-details-slider owl-theme owl-carousel" id="sync1">
                @foreach (var image in imageList)
                {
                    <div class="slide-top-item">
                        <div class="slide-inner">
                            <img src="~/images/@image" alt="product">
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="product-details-slider-wrapper">
            <div class="product-bottom-slider owl-theme owl-carousel" id="sync2">
                @foreach (var image in imageList)
                {
                    <div class="slide-bottom-item">
                        <div class="slide-inner">
                            <img src="~/images/@image" alt="product">
                        </div>
                    </div>
                }
            </div>
            <span class="det-prev det-nav">
                <i class="fas fa-angle-left"></i>
            </span>
            <span class="det-next det-nav active">
                <i class="fas fa-angle-right"></i>
            </span>
        </div>
        <div class="row mt-40-60-80">
            <div class="col-lg-8">
                <div class="product-details-content">
                    <div class="product-details-header">
                        <h3 class="title">@Model.Product.Name</h3>
                        <ul>
                            <li>Listing ID: @Model.Id</li>
                            <li>Item #: @Model.Product.Id</li>
                        </ul>
                    </div>
                    <ul class="price-table mb-30">
                        <li class="header">
                            <h5 class="current">Current Price</h5>
                            <h3 class="price">@lastBidPrice.Value.ToString("C")</h3>
                        </li>
                        <li>
                            <span class="details">Bid Increment (US)</span>
                            <h5 class="info">@Model.StepPrice.Value.ToString("C")</h5>
                        </li>
                    </ul>
                    <div class="product-bid-area">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <form action="@Url.Content("~/Home/Bidding/")" method="post" class="product-bid-form" onsubmit="return bidding(this);">
                                <div class="search-icon">
                                    <img src="~/assets/images/product/search-icon.png" alt="product">
                                </div>
                                <input type="hidden" name="auctionId" value="@Model.Id" />
                                <input type="text" name="bidPrice" placeholder="Enter you bid amount" />
                                <button type="submit" class="custom-button">Submit a bid</button>
                            </form>
                        }
                    </div>
                    <div class="buy-now-area">
                        <a href="#0" class="custom-button">Buy Now: @Model.Product.DefaultPrice.Value.ToString("C")</a>
                        <a href="~/Home/AddOrRemoveFavorites/@Model.Product.Id" id="like-detail-@(Model.Product.Id)" onclick="return jQueryAjaxFavorites('@Url.Action("AddOrRemoveFavorites", "Home", new { Model.Product.Id }, Context.Request.Scheme)');" class="rating custom-button active border">
                            @if (user != null)
                            {
                                @if (Tools.IsMyFavorites(context, user.Id, Model.Product.Id))
                                {
                                    <span><i class="fas fa-star"></i>&nbsp;You have liked this</span>
                                }
                                else
                                {
                                    <span><i class="far fa-star"></i>&nbsp;Add to your favorites</span>
                                }
                            }
                            else
                            {
                                <span><i class="far fa-star"></i>&nbsp;Add to your favorites</span>
                            }
                        </a>
                        <div class="share-area">
                            <span>Share to:</span>
                            <ul>
                                <li>
                                    <a href="#0"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="#0"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#0"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                                <li>
                                    <a href="#0"><i class="fab fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="product-sidebar-area">
                    <div class="product-single-sidebar mb-3">
                        @if (Model.StartDay.Value.CompareTo(DateTime.Now) > 0)
                        {
                            <h6 class="title">This Auction Start in:</h6>
                            <div class="countdown">
                                <div id="counter@(Model.Id)" data-countdown="@Model.StartDay.Value.ToString("MM/dd/yyyy")"></div>
                            </div>
                        }
                        else
                        {
                            <h6 class="title">This Auction Ends in:</h6>
                            <div class="countdown">
                                <div id="counter@(Model.Id)" data-countdown="@Model.ClosingDay.Value.ToString("MM/dd/yyyy")"></div>
                            </div>
                        }
                        <div class="side-counter-area">
                            <div class="side-counter-item">
                                <div class="thumb">
                                    <img src="~/assets/images/product/icon1.png" alt="product">
                                </div>
                                <div class="content">
                                    <h3 class="count-title"><span class="counter">@totalBidders</span></h3>
                                    <p>Active Bidders</p>
                                </div>
                            </div>
                            <div class="side-counter-item">
                                <div class="thumb">
                                    <img src="~/assets/images/product/icon2.png" alt="product">
                                </div>
                                <div class="content">
                                    <h3 class="count-title"><span class="counter">@totalWatchings</span></h3>
                                    <p>Watching</p>
                                </div>
                            </div>
                            <div class="side-counter-item">
                                <div class="thumb">
                                    <img src="~/assets/images/product/icon3.png" alt="product">
                                </div>
                                <div class="content">
                                    <h3 class="count-title"><span class="counter">@totalBids</span></h3>
                                    <p>Total Bids</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<a href="#0" class="cart-link">View Shipping, Payment & Auction Policies</a>*@
                </div>
            </div>
        </div>
    </div>
    <div class="product-tab-menu-area mb-40-60 mt-70-100">
        <div class="container">
            <ul class="product-tab-menu nav nav-tabs">
                <li>
                    <a href="#details" class="active" data-toggle="tab">
                        <div class="thumb">
                            <img src="~/assets/images/product/tab1.png" alt="product">
                        </div>
                        <div class="content">Description</div>
                    </a>
                </li>
                <li>
                    <a href="#delevery" data-toggle="tab">
                        <div class="thumb">
                            <img src="~/assets/images/product/tab2.png" alt="product">
                        </div>
                        <div class="content">Delivery Options</div>
                    </a>
                </li>
                <li>
                    <a href="#history" data-toggle="tab">
                        <div class="thumb">
                            <img src="~/assets/images/product/tab3.png" alt="product">
                        </div>
                        <div class="content">Bid History (36)</div>
                    </a>
                </li>
                <li>
                    <a href="#questions" data-toggle="tab">
                        <div class="thumb">
                            <img src="~/assets/images/product/tab4.png" alt="product">
                        </div>
                        <div class="content">Questions </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="details">
                <div class="tab-details-content">
                    <div class="header-area">
                        <h3 class="title">@Model.Product.Name</h3>
                        <div class="item">
                            <table class="product-info-table">
                                <tbody>
                                    <tr>
                                        <th>Condition</th>
                                        <td>@Model.Product.Condition</td>
                                    </tr>
                                    <tr>
                                        <th>Mileage</th>
                                        <td>@Model.Product.Mileage.Value.ToString("#,###") miles</td>
                                    </tr>
                                    <tr>
                                        <th>Year</th>
                                        <td>@Model.Product.Year.Value</td>
                                    </tr>
                                    <tr>
                                        <th>Engine</th>
                                        <td>@Model.Product.Engine</td>
                                    </tr>
                                    <tr>
                                        <th>Fuel</th>
                                        <td>@Model.Product.Fuel</td>
                                    </tr>
                                    <tr>
                                        <th>Transmission</th>
                                        <td>@Model.Product.Transmission</td>
                                    </tr>
                                    <tr>
                                        <th>Color</th>
                                        <td>@Model.Product.Color</td>
                                    </tr>
                                    <tr>
                                        <th>Doors</th>
                                        <td>@Model.Product.Doors.Value</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <input asp-for="Product.Description" type="hidden" />
                        <div class="item" id="auction-description">
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade show" id="history">
                <div class="history-wrapper">
                    <div class="item">
                        <h5 class="title">Bid History</h5>
                        <div class="history-table-area">
                            <table class="history-table">
                                <thead>
                                    <tr>
                                        <th>Bidder</th>
                                        <th>date</th>
                                        <th>time</th>
                                        <th>unit price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var records = await context.AuctionRecords.Take(5).ToListAsync();
                                        foreach (var item in records)
                                        {
                                            <tr>
                                                <td data-history="bidder">
                                                    <div class="user-info">
                                                        <div class="thumb">
                                                            <img src="~/assets/images/history/01.png" alt="history">
                                                        </div>
                                                        <div class="content">
                                                            Moses Watts
                                                        </div>
                                                    </div>
                                                </td>
                                                <td data-history="date">06/16/2021</td>
                                                <td data-history="time">02:45:25 PM</td>
                                                <td data-history="unit price">$900.00</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            <div class="text-center mb-3 mt-4">
                                <a href="#0" class="button-3">Load More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @await Html.PartialAsync("~/Views/PartialView/DeliveryOptions.cshtml")
            @await Html.PartialAsync("~/Views/PartialView/Questions.cshtml")
        </div>
    </div>
</section>
<!--============= Auction Details Section Ends Here =============-->

@if (Model.Product.Description != null)
{
    <script>
        let auctionDescription = document.getElementById('auction-description');
        auctionDescription.innerHTML = document.getElementById('Product_Description').value;
    </script>
}