@using Microsoft.EntityFrameworkCore;
@using OnlineGallery.Areas.Identity.Data;
@using Microsoft.AspNetCore.Identity;
@using OnlineGallery.Data;

@inject ApplicationDbContext context
@inject UserManager<ApplicationUser> userManager

@{
    ViewData["Title"] = "Home Page";

    var user = await userManager.GetUserAsync(User);
    var featuredList = context.Auctions.Where(e => e.Status).OrderByDescending(key => key.Id).Take(3).OrderBy(key => key.Id);
    var trendingList = context.Products.Where(e => e.Status).ToList().OrderByDescending(key => key.Id).Take(3).OrderBy(key => key.Id);
    var endingAuctions = await context.Auctions.Where(e => e.ClosingDay.Value.CompareTo(DateTime.Now.AddDays(1)) < 0).ToListAsync();
}

<!--============= Banner Section Starts Here =============-->
<section class="banner-section-4 bg_img oh" data-background="@Url.Content("~/assets/images/banner/banner-bg-4.png")">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-10 col-lg-7 col-xl-8">
                <div class="banner-content cl-white">
                    <h5 class="cate">Enjoy Exclusive</h5>
                    <h1 class="title">Buy Your Car In Real Time <span class="d-xl-block">Bidding</span></h1>
                    <p class="mw-500">
                        Thousands of Vehicles for Sale Every Day, We havejust the right one for you.
                    </p>
                    <a href="~/Identity/Account/Register" class="custom-button yellow btn-large">Get Started</a>
                </div>
            </div>
            <div class="col-lg-5 col-xl-4">
                <div class="banner-thumb-4">
                    <a href="~/Home/Auction" class="bid-now"><i class="flaticon-auction"></i><span>Bid Now</span></a>
                    <img src="~/assets/images/banner/banner-4.png" alt="banner">
                </div>
            </div>
        </div>
    </div>
    <div class="banner-shape d-none d-lg-block bot-0">
        <img src="~/assets/css/img/banner-shape-4.png" alt="css">
    </div>
</section>
<!--============= Banner Section Ends Here =============-->
<!--============= How Section Starts Here =============-->
<section class="how-section padding-top padding-bottom pos-rel">
    <div class="container">
        <div class="section-header text-lg-left">
            <h2 class="title">How it works</h2>
            <p>Easy 3 steps to win</p>
        </div>
        <div class="row justify-content-center mb--40">
            <div class="col-md-6 col-lg-4">
                <div class="how-item">
                    <div class="how-thumb">
                        <img src="~/assets/images/how/how1.png" alt="how">
                    </div>
                    <div class="how-content">
                        <h4 class="title">Sign Up</h4>
                        <p>No Credit Card Required</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="how-item">
                    <div class="how-thumb">
                        <img src="~/assets/images/how/how2.png" alt="how">
                    </div>
                    <div class="how-content">
                        <h4 class="title">Bid</h4>
                        <p>Bidding is free Only pay if you win</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="how-item">
                    <div class="how-thumb">
                        <img src="~/assets/images/how/how3.png" alt="how">
                    </div>
                    <div class="how-content">
                        <h4 class="title">Win</h4>
                        <p>Fun - Excitement - Great deals</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="car-2 d-none d-lg-block"><img src="~/assets/images/how/car2.png" alt="how"></div>
</section>
<!--============= How Section Starts Here =============-->
<!--============= Car Auction Section Starts Here =============-->
<section class="car-auction-section padding-bottom pos-rel oh">
    <div class="car-bg"><img src="~/assets/images/auction/car/car-bg.png" alt="car"></div>
    <div class="container">
        <div class="section-header-3">
            <div class="left d-block">
                <h2 class="title mb-3">Featured Items</h2>
                <p>Start winning cars with comfort</p>
            </div>
            <a href="~/Home/Auction" class="normal-button">View All</a>
        </div>
        <div class="row justify-content-center mb-30-none">
            @foreach (var item in featuredList)
            {
                var lastBidPrice = item.AuctionRecords != null ? item.AuctionRecords.Select(e => e.BidPrice).Last() : item.StartingPrice;
                var bids = await context.AuctionRecords.Where(e => e.AuctionId == item.Id).CountAsync();

                <div class="col-sm-10 col-md-6 col-lg-4">
                    <div class="auction-item-2">
                        <div class="auction-thumb">
                            <a href="~/Home/AuctionDetail/@item.Id" title="Go to detail"><img src="~/images/@item.Product.Image" alt="car"></a>
                            <a href="~/Home/AddOrRemoveFavorites/@item.Product.Id" id="like-feature-@(item.Product.Id)" onclick="return jQueryAjaxFavorites('@Url.Action("AddOrRemoveFavorites", "Home", new { item.Product.Id }, Context.Request.Scheme)');" class="rating">
                                @if (user != null && Tools.IsMyFavorites(context, user.Id, item.Product.Id))
                                {
                                    <i class="fas fa-star"></i>
                                }
                                else
                                {
                                    <i class="far fa-star"></i>
                                }
                            </a>
                        </div>
                        <div class="auction-content">
                            <h6 class="title">
                                <a href="#0">@item.Product.Name</a>
                            </h6>
                            <div class="bid-area">
                                <div class="bid-amount">
                                    <div class="icon">
                                        <i class="flaticon-auction"></i>
                                    </div>
                                    <div class="amount-content">
                                        <div class="current">Current Bid</div>
                                        <div class="amount">@lastBidPrice.Value.ToString("C")</div>
                                    </div>
                                </div>
                                <div class="bid-amount">
                                    <div class="icon">
                                        <i class="flaticon-money"></i>
                                    </div>
                                    <div class="amount-content">
                                        <div class="current">Buy Now</div>
                                        <div class="amount">@item.Product.DefaultPrice.Value.ToString("C")</div>
                                    </div>
                                </div>
                            </div>
                            <div class="countdown-area">
                                <div class="countdown">
                                    <div id="counter@(item.Id)" data-countdown="@item.ClosingDay.Value.ToString("MM/dd/yyyy")"></div>
                                </div>
                                <span class="total-bids">@bids Bids</span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!--============= Car Auction Section Ends Here =============-->
<!--============= Trending Section Starts Here =============-->
<section class="trending-section padding-bottom padding-top">
    <div class="container">
        <div class="section-header-3">
            <div class="left d-block">
                <h2 class="title mb-3">Trending Items</h2>
                <p>Bid on 1,000’s of vehicles from more than 25 countries</p>
            </div>
            <a href="~/Home/Product" class="normal-button">View All</a>
        </div>
        <div class="row justify-content-center mb-30-none">
            @foreach (var item in trendingList)
            {
                <div class="col-md-6 col-lg-12">
                    <div class="auction-item-6">
                        <div class="auction-inner">
                            <div class="auction-thumb">
                                <a href="~/Home/ProductDetail/@item.Id"><img src="~/images/@item.Image" alt="trending"></a>
                                <a href="~/Home/AddOrRemoveFavorites/@item.Id" id="like-feature-@(item.Id)" onclick="return jQueryAjaxFavorites('@Url.Action("AddOrRemoveFavorites", "Home", new { item.Id }, Context.Request.Scheme)');" class="rating">
                                    @if (user != null && Tools.IsMyFavorites(context, user.Id, item.Id))
                                    {
                                        <i class="fas fa-star"></i>
                                    }
                                    else
                                    {
                                        <i class="far fa-star"></i>
                                    }
                                </a>
                                @if (item.Auction != null)
                                {
                                    <a href="~/Home/AuctionDetail/@item.Auction.Id" class="bid" title="Go to this auction"><i class="flaticon-auction"></i></a>
                                }
                            </div>
                            <div class="auction-content">
                                <h5 class="title"><a href="~/Home/ProductDetail/@item.Id">@item.Name</a></h5>
                                <div class="item-information">
                                    <ul>
                                        <li><span>Number</span>@item.Id</li>
                                        <li><span>Condition</span>@item.Condition</li>
                                        <li><span>Color</span>@item.Color</li>
                                        <li><span>Year</span>@item.Year</li>
                                        <li><span>Fuel</span>@item.Fuel</li>
                                    </ul>
                                    <ul>
                                        <li><span>Milage</span>@item.Mileage</li>
                                        <li><span>Engine</span>@item.Engine</li>
                                        <li><span>Transmission</span>@item.Transmission</li>
                                        <li><span>Doors</span>@item.Doors</li>
                                    </ul>
                                </div>
                            </div>
                            @if (item.Auction != null)
                            {
                                var lastBidPrice = item.Auction.AuctionRecords != null ? item.Auction.AuctionRecords.Select(e => e.BidPrice).Last() : item.Auction.StartingPrice;
                                var bids = await context.AuctionRecords.Where(e => e.AuctionId == item.Id).CountAsync();

                                <div class="auction-bidding">
                                    <div class="countdown">
                                        <div id="counter@(item.Auction.Id)" data-countdown="@item.Auction.ClosingDay.Value.ToString("MM/dd/yyyy")"></div>
                                    </div>
                                    <div class="bid-amount">
                                        <div class="icon">
                                            <i class="flaticon-auction"></i>
                                        </div>
                                        <div class="amount-content">
                                            <div class="current">Current Bid</div>
                                            <div class="amount">@lastBidPrice</div>
                                        </div>
                                    </div>
                                    <div class="bids-area">
                                        Total Bids : <span class="total-bids">@bids</span>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="auction-bidding">
                                    <div>
                                        <form asp-action="AddToCart" asp-route-id="@item.Id" method="post" onsubmit="return addToCart('@Url.Action("AddToCart", "Home", new { item.Id }, Context.Request.Scheme)');">
                                            <button type="submit" class="btn btn-primary text-white mt-4 mb-4">Add To Cart</button>
                                        </form>
                                        <button onclick="alert('buy now')" class="btn btn-success text-white">Buy Now</button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!--============= Trending Section Ends Here =============-->
<!--============= Ending Auction Section Starts Here =============-->
<section class="ending-auction padding-top pos-rel">
    <div class="popular-bg bg_img" data-background="@Url.Content("~/assets/images/auction/popular/popular-bg.png")"></div>
    <div class="container">
        <div class="section-header cl-white">
            <span class="cate">Closing Within 24 Hours</span>
            <h2 class="title">Auctions Ending soon</h2>
            <p>Bid and win great deals,Our auction process is simple, efficient, and transparent.</p>
        </div>
        <div class="popular-auction-wrapper">
            <div class="row justify-content-center mb-40-none">
                @foreach (var item in endingAuctions)
                {
                    var lastBidPrice = item.AuctionRecords != null ? item.AuctionRecords.Select(e => e.BidPrice).Last() : item.StartingPrice;

                    var bids = await context.AuctionRecords.Where(e => e.AuctionId == item.Id).CountAsync();
                    <div class="col-lg-6">
                        <div class="auction-item-3">
                            <div class="auction-thumb">
                                <a href="~/Home/AuctionDetail/@item.Id"><img src="~/images/@item.Product.Image" alt="ending"></a>

                            </div>
                            <div class="auction-content">
                                <h6 class="title">
                                    <a href="~/Home/ProductDetail/@item.ProductId">
                                        @item.Product.Name
                                    </a>
                                </h6>
                                <div class="bid-amount">
                                    <div class="icon">
                                        <i class="flaticon-auction"></i>
                                    </div>
                                    <div class="amount-content">
                                        <div class="current">Current Bid</div>
                                        <div class="amount">@lastBidPrice.Value.ToString("C")</div>
                                    </div>
                                </div>
                                <div class="bids-area">
                                    Total Bids : <span class="total-bids">@bids</span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="load-wrapper">
                <a href="~/Auction" class="normal-button">See All Auction</a>
            </div>
        </div>
    </div>
</section>
<!--============= Ending Auction Section Ends Here =============-->
<!--============= Call In Section Starts Here =============-->
<section class="call-in-section padding-top">
    <div class="container">
        <div class="call-wrapper cl-white bg_img" data-background="@Url.Content("~/assets/images/call-in/call-bg.png")">
            <div class="section-header">
                <h3 class="title">Register for Free & Start Bidding Now!</h3>
                <p>From cars to diamonds to iPhones, we have it all.</p>
            </div>
            <a href="~/Identity/Account/Register" class="custom-button white">Register</a>
        </div>
    </div>
</section>
<!--============= Call In Section Ends Here =============-->
<!--============= Client Section Starts Here =============-->
<section class="client-section padding-top padding-bottom">
    <div class="container">
        <div class="section-header">
            <h2 class="title">Don’t just take our word for it!</h2>
            <p>Our hard work is paying off. Great reviews from amazing customers.</p>
        </div>
        <div class="m--15">
            <div class="client-slider owl-theme owl-carousel">
                <div class="client-item">
                    <div class="client-content">
                        <p>I can't stop bidding! It's a great way to spend some time and I want everything on Sbidu.</p>
                    </div>
                    <div class="client-author">
                        <div class="thumb">
                            <a href="#0">
                                <img src="~/assets/images/client/client01.png" alt="client">
                            </a>
                        </div>
                        <div class="content">
                            <h6 class="title"><a href="#0">Alexis Moore</a></h6>
                            <div class="ratings">
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="client-item">
                    <div class="client-content">
                        <p>I came I saw I won. Love what I have won, and will try to win something else.</p>
                    </div>
                    <div class="client-author">
                        <div class="thumb">
                            <a href="#0">
                                <img src="~/assets/images/client/client02.png" alt="client">
                            </a>
                        </div>
                        <div class="content">
                            <h6 class="title"><a href="#0">Darin Griffin</a></h6>
                            <div class="ratings">
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="client-item">
                    <div class="client-content">
                        <p>This was my first time, but it was exciting. I will try it again. Thank you so much.</p>
                    </div>
                    <div class="client-author">
                        <div class="thumb">
                            <a href="#0">
                                <img src="~/assets/images/client/client03.png" alt="client">
                            </a>
                        </div>
                        <div class="content">
                            <h6 class="title"><a href="#0">Tom Powell</a></h6>
                            <div class="ratings">
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--============= Client Section Ends Here =============-->