@using Microsoft.EntityFrameworkCore;
@using OnlineGallery.Data

@inject ApplicationDbContext context

@model OnlineGallery.Models.ProductImage

@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <ul class="font-weight-bolder" style="list-style: none;">
            <li><span asp-validation-for="ProductId" class="text-danger"></span></li>
            <li><span asp-validation-for="Image" class="text-danger"></span></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateOrUpdate" enctype="multipart/form-data" asp-route-id="@Model.Id" onsubmit="return jQueryAjaxPost(this)" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" value="@Model.Id" />
            <input type="hidden" asp-for="Image" value="@Model.Image" />
            <input type="hidden" asp-for="ProductId" value="@Model.ProductId" />
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <input type="text" class="form-control" value="@Model.Product.Name" disabled />
            </div>
            <div class="form-group">
                <label class="control-label">Upload Replace Image</label>
                <input asp-for="FileImage" class="form-control" accept="image/*" multiple />
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}