@using OnlineGallery.Data

@inject ApplicationDbContext context

@model IEnumerable<OnlineGallery.Models.Product>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table id="product" class="table table-bordered table-striped" style="table-layout: fixed;">
                    <thead>
                        <tr>
                            <th class="align-middle text-center">
                                @Html.DisplayNameFor(item => item.Name)
                            </th>
                            <th class="align-middle text-center">
                                Appearance
                            </th>
                            <th class="align-middle text-center">
                                @Html.DisplayNameFor(item => item.Description)
                            </th>
                            <th class="align-middle text-center">
                                @Html.DisplayNameFor(item => item.DefaultPrice)
                            </th>
                            <th class="align-middle text-center">
                                @Html.DisplayNameFor(item => item.Status)
                            </th>
                            <th>
                                <a onclick="showInPopup('@Url.Action("CreateOrUpdate", "Product", null, Context.Request.Scheme)', 'New Product')" class="btn btn-success btn-block"><i class="fas fa-plus"></i></a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.Name <br />
                                    @if (item.Image != null)
                                    {
                                        <img src="~/images/@item.Image" width="300" height="200" />
                                    }
                                    else
                                    {
                                        <span class="text-danger font-weight-bolder">Please update image for this product</span>
                                    }
                                </td>
                                <td>
                                    <ul>
                                        <li><strong>Id:</strong> @item.Id</li>
                                        <li><strong>Condition:</strong> @item.Condition</li>
                                        <li><strong>Year:</strong> @item.Year</li>
                                        <li><strong>Fuel:</strong> @item.Fuel</li>
                                        <li><strong>Color:</strong> @item.Color</li>
                                        <li><strong>Mileage:</strong> @item.Mileage</li>
                                        <li><strong>Engine:</strong> @item.Engine</li>
                                        <li><strong>Transmission:</strong> @item.Transmission</li>
                                        <li><strong>Doors:</strong> @item.Doors</li>
                                    </ul>
                                </td>
                                <td>
                                    @if (item.Description != null)
                                    {
                                        if (item.Description.Length > 500)
                                        {
                                            var shortDescription = item.Description.Substring(0, 500);
                                            <span class="full-description d-none">@item.Description</span>
                                            <span class="short-description">@shortDescription...</span>
                                            <input class="btnDescription font-weight-bolder bg-transparent border-0" type="button" value="Expand" />
                                        }
                                        else
                                        {
                                            <span>@item.Description</span>
                                        }
                                    }
                                </td>
                                <td class="text-center">
                                    @item.DefaultPrice.Value.ToString("C")
                                </td>
                                <td class="text-center">
                                    @if (item.Status)
                                    {
                                        if (item.Auction != null)
                                        {
                                            <span class='font-weight-bolder text-success'>Currently being auctioned</span>
                                        }
                                        else
                                        {
                                            <span class='font-weight-bolder text-primary'>On sale</span>
                                        }
                                    }
                                    else
                                    {
                                        if (item.Image == null)
                                        {
                                            <span class='font-weight-bolder text-secondary'>Haven't updated image yet</span>
                                        }
                                        else if (!Tools.CheckGalleryProduct(context, item.Id))
                                        {
                                            <span class='font-weight-bolder text-warning'>Haven't updated gallery yet</span>
                                        }
                                        else
                                        {
                                            <span class='font-weight-bolder text-danger'>Sold</span>
                                        }
                                    }
                                </td>
                                <td class="text-center">
                                    @if (!Tools.IsSold(context, item.Id))
                                    {
                                        @if (item.Image != null)
                                        {
                                            if (item.Auction != null)
                                            {
                                                <a href="/Home/AuctionDetail/@item.Auction.Id" class="btn btn-dark">Go to Auction</a>
                                            }
                                            else
                                            {
                                                <a onclick="showInPopup('@Url.Action("CreateOrUpdate", "Product", new { item.Id }, Context.Request.Scheme)', 'Update Product')" class="btn btn-info">Edit</a>
                                                if (!Tools.CheckGalleryProduct(context, item.Id))
                                                {
                                                    <a onclick="showInPopup('@Url.Action("AddGallery", "ProductImage", new { item.Id }, Context.Request.Scheme)', 'New Gallery')" class="btn btn-warning">Create Gallery</a>
                                                }
                                                else
                                                {
                                                    <a onclick="showInPopup('@Url.Action("CreateAuction", "Auction", new { item.Id }, Context.Request.Scheme)', 'New Auction')" class="btn btn-primary">Create Auction</a>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            <a onclick="showInPopup('@Url.Action("AddImage", "Product", new { item.Id }, Context.Request.Scheme)', 'Update Product')" class="btn btn-danger">Add Image</a>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>

<script>
    let btnList = document.getElementsByClassName('btnDescription');
    let shortList = document.getElementsByClassName('short-description');
    let fullList = document.getElementsByClassName('full-description');

    for (let i = 0; i < btnList.length; i++) {
        btnList[i].addEventListener('click', () => {
            if (btnList[i].value == "Expand") {
                btnList[i].value = "Collapse";
                shortList[i].classList.add('d-none');
                fullList[i].classList.remove('d-none');
            } else {
                btnList[i].value = "Expand";
                fullList[i].classList.add('d-none');
                shortList[i].classList.remove('d-none');
            }
        })
    }
</script>
