@model OnlineGallery.Models.Product

@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <ul class="font-weight-bolder" style="list-style: none;">
            <li><span asp-validation-for="Name" class="text-danger"></span></li>
            <li><span asp-validation-for="Status" class="text-danger"></span></li>
            <li><span asp-validation-for="Transmission" class="text-danger"></span></li>
            <li><span asp-validation-for="FileImage" class="text-danger"></span></li>
            <li><span asp-validation-for="Year" class="text-danger"></span></li>
            <li><span asp-validation-for="Condition" class="text-danger"></span></li>
            <li><span asp-validation-for="DefaultPrice" class="text-danger"></span></li>
            <li><span asp-validation-for="Color" class="text-danger"></span></li>
            <li><span asp-validation-for="Fuel" class="text-danger"></span></li>
            <li><span asp-validation-for="Engine" class="text-danger"></span></li>
            <li><span asp-validation-for="Mileage" class="text-danger"></span></li>
            <li><span asp-validation-for="Doors" class="text-danger"></span></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateOrUpdate" enctype="multipart/form-data" asp-route-id="@Model.Id" onsubmit="setValue(); return jQueryAjaxPost(this);" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" value="@Model.Id" />
            <input type="hidden" asp-for="Status" value="@Model.Status" />
            <div class="row">
                <div class="col-9">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="Transmission" class="control-label"></label>
                        <select class="form-select form-control" aria-label="Select Transmission" asp-for="Transmission">
                            <option value="">Select transmission</option>
                            <option value="Manual">Manual</option>
                            <option value="Automatic">Automatic</option>
                            <option value="Continuous Variable">Continuous Variable</option>
                            <option value="Dual Clutch">Dual Clutch</option>
                        </select>
                    </div>
                </div>
                @if (Model.Id == 0 || Model.Image == null)
                {
                    <div class="col-7">
                        <div class="form-group">
                            <label asp-for="Image" class="control-label"></label>
                            <input asp-for="FileImage" class="form-control" accept="image/*" />
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-4">
                        <div class="form-group">
                            <label class="control-label">Uploaded Image</label>
                            <img src="~/images/@Model.Image" width="250" height="150" />
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label class="control-label">Replace Image</label>
                            <input asp-for="FileImage" class="form-control" accept="image/*" />
                            <input type="hidden" asp-for="Image" class="form-control" value="@Model.Image" />
                        </div>
                    </div>
                }
            </div>
            <div class="row">
                <div class="col-2">
                    <div class="form-group">
                        <label asp-for="Year" class="control-label"></label>
                        <input asp-for="Year" class="form-control" />
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="Condition" class="control-label"></label>
                        <select class="form-select form-control" aria-label="Select Condition" asp-for="Condition">
                            <option value="">Select condition</option>
                            <option value="New">New</option>
                            <option value="Used">Used</option>
                            <option value="Part only">Part only</option>
                            <option value="Broken">Broken</option>
                        </select>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label asp-for="DefaultPrice" class="control-label"></label>
                        <input asp-for="DefaultPrice" class="form-control" />
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label asp-for="Color" class="control-label"></label>
                        <select class="form-select form-control" aria-label="Select Condition" asp-for="Color">
                            <option value="">Select color</option>
                            @foreach (var color in System.Enum.GetNames(typeof(System.Drawing.KnownColor)))
                            {
                                <option value="@color">@color</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="Fuel" class="control-label"></label>
                        <select class="form-select form-control" aria-label="Select Fuel" asp-for="Fuel">
                            <option value="">Select fuel</option>
                            <option value="Gas">Gas</option>
                            <option value="Diesel">Diesel</option>
                            <option value="Electrical">Electrical</option>
                            <option value="LPG">LPG</option>
                            <option value="Hydrogen">Hydrogen</option>
                            <option value="Bioethanol">Bioethanol</option>
                            <option value="CNG">CNG</option>
                            <option value="Biodiesel">Biodiesel</option>
                            <option value="Propane (C3H8)">Propane (C3H8)</option>
                            <option value="Water (H2O)">Water (H2O)</option>
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="Engine" class="control-label"></label>
                        <select class="form-select form-control" aria-label="Select Engine" asp-for="Engine">
                            <option value="">Select engine</option>
                            <option value="I4">I4</option>
                            <option value="I6">I6</option>
                            <option value="V6">V6</option>
                            <option value="V8">V8</option>
                            <option value="V10">V10</option>
                            <option value="V12">V12</option>
                            <option value="Boxer">Boxer</option>
                            <option value="W12">W12</option>
                            <option value="W16">W16</option>
                            <option value="W32">W32</option>
                        </select>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label asp-for="Mileage" class="control-label"></label>
                        <input asp-for="Mileage" class="form-control" />

                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label asp-for="Doors" class="control-label"></label>
                        <select class="form-select form-control" aria-label="Select Condition" asp-for="Doors">
                            <option value="">Select doors</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" type="hidden" />
                    <div id="toolbar-container"></div>
                    <div class="border" id="editor"></div>
                    @if (Model.Description != null)
                    {
                        <script>
                            $("#editor").html($('#Description').val());
                        </script>
                    }
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary btn-block" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    DecoupledEditor
        .create(document.querySelector('#editor'))
        .then(editor => {
            const toolbarContainer = document.querySelector('#toolbar-container');

            toolbarContainer.appendChild(editor.ui.view.toolbar.element);
        })
        .catch(error => {
            console.error(error);
        });

    setValue = () => {
        $('#editor').html() == "<p><br data-cke-filler=\"true\"></p>" ? $('#Description').val("") : $('#Description').val($('#editor').html());
    };
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}