@using Microsoft.EntityFrameworkCore;
@using Microsoft.AspNetCore.Identity;
@using OnlineGallery.Areas.Identity.Data

@inject UserManager<ApplicationUser> userManager

@model IEnumerable<OnlineGallery.Areas.Identity.Data.ApplicationUser>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table id="user" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="align-middle text-center">
                                User ID
                            </th>
                            <th class="align-middle text-center">
                                Full Name
                            </th>
                            <th class="align-middle text-center">
                                Address
                            </th>
                            <th class="align-middle text-center">
                                Phone Number
                            </th>
                            <th class="align-middle text-center">
                                Email
                            </th>
                            <th class="align-middle text-center">
                                Role
                            </th>
                            <th class="align-middle text-center">
                                Status
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            var roles = await userManager.GetRolesAsync(item);
                            <tr>
                                <td class="align-middle">
                                    <span>@item.Id</span>
                                </td>
                                <td class="align-middle">
                                    <span>@item.FullName</span>
</td>
                                <td class="align-middle">
                                    <span>@item.Address</span>
</td>
                                <td class="align-middle text-center">
                                    <span>@item.PhoneNumber</span>
</td>
                                <td class="align-middle">
                                    @if (item.EmailConfirmed)
                                    {
                                        <span>@item.Email&nbsp;<i class="text-success fas fa-check-circle"></i></span>
                                    }
                                    else
                                    {
                                        <span>@item.Email&nbsp;<i class="text-danger fas fa-exclamation-circle"></i></span>
                                    }
                                </td>
                                <td class="align-middle text-center">
                                    @foreach (var role in roles)
                                    {
                                        if (role.Equals("Admin"))
                                        {
                                            <span class="font-weight-bolder text-success">@role</span><br />
                                        }
                                        else
                                        {
                                            <span class="font-weight-bolder text-primary">@role</span><br />
                                        }
                                    }
                                </td>
                                <td class="align-middle text-center">
                                    @if (item.Status)
                                    {
                                        <span class="font-weight-bolder text-success">Activating</span>
                                    }
                                    else
                                    {
                                        <span class="font-weight-bolder text-danger">Locked</span>
                                    }
                                </td>
                                <td class="align-middle text-center">
                                    @if (roles.Contains("User"))
                                    {
                                        <form asp-action="Lockout" asp-route-id="@item.Id" onsubmit="return lockoutUser(this);" class="d-inline">
                                            @if (item.Status)
                                            {
                                                <input type="submit" value="Lockout" class="font-weight-bolder btn btn-danger" />
                                            }
                                            else
                                            {
                                                <input type="submit" value="Unlockout" class="font-weight-bolder btn btn-success" />
                                            }
                                        </form>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>

<script>

</script>